doctype html
html
  head
    title= 'Общественный транспорт Новосибирска на карте'
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.1/dist/leaflet.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='dns-prefetch', href="//a.tile.openstreetmap.org")
    link(rel='preconnect', href="//a.tile.openstreetmap.org")
    link(rel='dns-prefetch', href="//b.tile.openstreetmap.org")
    link(rel='preconnect', href="//b.tile.openstreetmap.org")
    link(rel='dns-prefetch', href="//c.tile.openstreetmap.org")
    link(rel='preconnect', href="//c.tile.openstreetmap.org")

    meta(property="og:url", content="https://maps.nskgortrans.info/")
    meta(property="og:type", content="article")
    meta(property="og:title", content="Общественный транспорт Новосибирска на карте")
    meta(property="og:description", content="Общественный транспорт Новосибирска на карте")
    meta(property="og:image", content="https://maps.nskgortrans.info/260819.jpg")
  body
    div(id='root')
    div(id='map')
    script(src='https://unpkg.com/leaflet@1.0.1/dist/leaflet.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.15/leaflet-providers.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/redux/3.6.0/redux.min.js')
    script(src='app.min.js')
